@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --card: #1e293b;
  --card-hover: #334155;
  --accent: #38bdf8;
  --text: #f8fafc;
  --text-muted: #94a3b8;
}

body {
  background-color: var(--background);
  color: var(--text);
}

